# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /patel_portfolio/blog/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /patel_portfolio/blog/index.php [L]
</IfModule>

# END WordPress